*{
    padding: 0px;
    margin: 0px;
}

.-form{
    background-color: rgba(0,0,0,0.2);
   width:500px ;
   height: 400px;
   color: rgb(255, 255, 255);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
    margin: 20%;
    padding-top: 20px;
}

input{
    width: 300px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 3%;
}

button{
    padding: 20px;
    background-color: rgb(72, 72, 255);
    border: 3px solid black;
    border-radius: 25%;
}


body{
    background-image: url(./images/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}